body {
	background: black
}

h1 {
	color: aqua;
	font-size: 2.5em;
}

p {
	color: aqua;
	padding: 5px;
	background: midnightblue;
}

.silly {
	color: yellow;
	padding: 5px;
	background: #639;
}

.serious {
	color: white;
	padding: 5px;
	background: #000;
}

